# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Virtual environment
.venv/
venv/
env/
.env/
*/venv/
*/env/
*/.env/
./.env
**/.env


# Editors
.vscode/        # VS Code
.idea/          # JetBrains IDEs (PyCharm, IntelliJ)
*.sublime-project
*.sublime-workspace
.DS_Store       # macOS
Thumbs.db       # Windows

# Miscellaneous
*.log
*.bak
*.swp
*.swo
*~
.ipynb_checkpoints/ # Jupyter Notebook checkpoints
.mypy_cache/
.ruff_cache/
.dccache/ # Snyk cache

# Specific to Gemini
.gemini/