# Choose Model Backend: 0 -> ML Dev, 1 -> Vertex
GOOGLE_GENAI_USE_VERTEXAI=1
# ML Dev backend config, ignore if using Vertex.
GOOGLE_API_KEY=YOUR_API_KEY_HERE

# Vertex backend config
GOOGLE_CLOUD_PROJECT=YOUR_PROJECT_ID_HERE
GOOGLE_CLOUD_LOCATION=us-central1

# Places API
GOOGLE_PLACES_API_KEY=YOUR_PLACES_API_KEY_HERE

# GCS Storage Bucket name - for Agent Engine deployment
GOOGLE_CLOUD_STORAGE_BUCKET=YOUR_STAGING_BUCKET_NAME_HERE

# Sample Scenario Path - Default is an empty itinerary
TRAVEL_CONCIERGE_SCENARIO=travel_concierge/profiles/itinerary_empty_default.json
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=true
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true
